@import '../../var.scss';
.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    &__item{
        opacity: 1;
        visibility: visible;
        position: relative;

    }

    .triangle{  
        display: none;
    }

    @media(max-width: 768px) {
        position: absolute;
        top: -10px;
        flex-direction: column;
        margin-top: 25px;
        padding: 40px 20px;
        background-color: $white;
        border: 1px solid  $dark;
        border-radius: $br;
        transition: $transition-short;

        visibility: hidden;
        opacity: 0;


        .triangle{  
            display: block;
            position: absolute;
            top: -14px;
            left: 50%;
            transition: $transition-short;

            opacity: 0;
            visibility: hidden;

            svg{
                width: 14px;
                height: 10px;
            }
        }
        
        &__item{
            transition: $transition-short;

            opacity: 0;
            visibility: hidden;
        }

        &.active  {
            top: 0;
            position: relative;
            visibility: visible;
            opacity: 1;
            z-index: 999;

            .triangle{  
                visibility: visible;
                opacity: 1;
            }
            
            .categories__item{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.filters{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left:  -1000;

    @media(max-width: 768px) {
        opacity: 1;
        width: 100%;
        visibility: visible;
        position: relative;
    
    }
}