@import '../../var.scss';
.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    &__item{
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    @media(max-width: 768px) {
        &__item{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left:  -1000;
        }
        &.active  {
            position: relative;
            flex-direction: column;
            margin-top: 25px;
            padding: 40px 20px;

            z-index: 999;
            background-color: $white;
            border: 1px solid  $dark;
            border-radius: $br;

            .triangle{  
    
            }
            

            .categories__item{
                opacity: 1;
                visibility: visible;
                position: relative;
            }
        }
    }
}
.filters{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    left:  -1000;

    @media(max-width: 768px) {
        opacity: 1;
        visibility: visible;
        position: relative;
    
    }
}