.categories{
    display: flex;
    gap: 15px;

    &__item{
        opacity: 1;
        visibility: visible;
        position: relative;
    }
    .filters{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        left:  -1000;
    }

    @media(max-width: 768px) {
        &__item{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left:  -1000;
        }
        .filters{
            opacity: 1;
            visibility: visible;
            position: relative;
        }
    }
}