@import '../../var.scss';

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__nav{
        padding: $xl;


        &-list{
            display: flex;
            gap: 60px;
            justify-content: flex-end;
    
        }
        &-item{
        }
        &-link{
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $white;
            text-decoration: none;
            transition: $transition;

            &::before{
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;
                right: 0;
                height: 0;
                transition: $transition;
                background-color: none;
                
            }
              
            &:hover{
                &::before{
                    height: 3px;
                    background-color: $primary;
                }
            }
        

        }
    }
 
}