
@keyframes fromRight{
    to{
        transform: translate(-20px, 0);
    }
    from{
        transform: translate(0, 0);
    }
}
@keyframes fromLeft{
    to{
        transform: translate(20px, 0);
    }
    from{
        transform: translate(0, 0);
    }
}

@keyframes toUp{
    to{
        transform: translate(0, -20px);
    }
    from{
        transform: translate(0, 0);
    }
}