@import './animations.scss';

@mixin main-wrap {
    padding: $xl; 

    @media(max-width: 1440px) {
        padding: $lg; 
    }

    @media(max-width: 1140px) {
        padding: $lg; 
    }
    @media(max-width: 960px) {
        padding: $md; 
    }
    @media(max-width: 768px) {
        padding: $sm; 
    }
    @media(max-width: 576px) {
        padding: $xsm; 
    }
}

@mixin animationFromRight{
    animation: fromRight 1.5s ease;
    transform: translate(-20px, 0);
}

@mixin animationFromLeft {
    transform: translate(20px, 0);
    animation: fromLeft 1.5s ease;
}

@mixin animationToUp{
    transform: translate(0, -20px);
    animation: toUp 1.5s ease;
} 