@mixin main-wrap {
    padding: $xl; 

    @media(max-width: 1440px) {
        padding: $lg; 
    }

    @media(max-width: 1140px) {
        padding: $lg; 
    }
    @media(max-width: 960px) {
        padding: $md; 
    }
    @media(max-width: 768px) {
        padding: $sm; 
    }
    @media(max-width: 576px) {
        padding: $xsm; 
    }
}