$white: #fff;
$primary: #EA5455;
$primary-dark: #A13B3C;
$dark: #2B2A2C;


$xl: 60px 225px;
$lg: 40px 120px;
$md: 25px 80px;
$sm: 20px 40px;
$xsm: 20px 15px;
$lp-s: 225px;
$br: 10px;
$transition: .2s  ease-in-out;